body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    color: dimgrey;
}

.orange-highlight {
    color: orange;
}

.half-width {
    width: 38%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}

.half-width img {
    width: 80%;
    padding-top: 2%;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(45deg, salmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.bottom {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.single-experience {
    box-shadow: 10px 10px 50px grey;
    border-radius: 20px;
    height: 80%;
    background: white;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, salmon, red);
    border-image-slice: 1;
}

#baby {
    border-left: 7px solid;
    border-image: linear-gradient(1800deg, blue, violet);
    border-image-slice: 1;
}

footer p {
    text-align: center;
    font-size: 12px;
}